In [1]:
import pandas as pd
import pyarrow.parquet as pq
import glob

In [2]:
#load ETF data
etf_files = glob.glob(r"C:\Users\Ego Men\Anaconda_codes\CSVs\archive\etfs\*.csv")
etf_dfs = []
for file in etf_files:
    df = pd.read_csv(file)
    etf_dfs.append(df)
etf_df = pd.concat(etf_dfs)

In [3]:
#Load stock data
stock_files = glob.glob(r"C:\Users\Ego Men\Anaconda_codes\CSVs\archive\stocks\*.csv")
stock_dfs = []
for file in stock_files:
    df = pd.read_csv(file)
    stock_dfs.append(df)
stock_df = pd.concat(stock_dfs)

In [4]:
#load symbol data
symbols_df= pd.read_csv(r"C:\Users\Ego Men\Anaconda_codes\CSVs\archive\symbols_valid_meta.csv")

In [5]:
# Concatenate etf_df and stock_df
df_stocketf=  pd.concat([stock_df, etf_df])

In [7]:
# Concatenate etf_df and symbols_df along columns axis including only Select  required columns
df_etfsymbol = pd.concat([df_stocketf, symbols_df], axis=1)[['Symbol', 'Security Name', 'Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume']]

In [8]:
df_etfsymbol.head()

,Symbol,Security Name,Date,Open,High,Low,Close,Adj Close,Volume
0,A,"Agilent Technologies, Inc. Common Stock",1999-11-18,32.546494,35.765381,28.612303,31.473534,27.068665,62546300.0
1,AA,Alcoa Corporation Common Stock,1999-11-19,30.713520,30.758226,28.478184,28.880543,24.838577,15234100.0
2,AAAU,Perth Mint Physical Gold ETF,1999-11-22,29.551144,31.473534,28.657009,31.473534,27.068665,6577800.0
3,AACG,ATA Creativity Global - American Depositary Sh...,1999-11-23,30.400572,31.205294,28.612303,28.612303,24.607880,5975600.0
4,AADR,AdvisorShares Dorsey Wright ADR ETF,1999-11-24,28.701717,29.998211,28.612303,29.372318,25.261524,4843200.0

In [9]:
# Convert the 'Date' column to datetime format:
df_etfsymbol['Date'] = pd.to_datetime(df_etfsymbol['Date'])

In [12]:
# Save the resulting dataset into a structured format, such as Parquet:
df_etfsymbol.to_parquet(r"C:\Users\Ego Men\Anaconda_codes\RiskThinking\Problem 1 - Raw Data Processing.parquet")