In [1]:
import pandas as pd
import os
import pyarrow as pa
import pyarrow.parquet as pq

In [2]:
df = pd.read_parquet(r"C:\Users\Ego Men\Anaconda_codes\RiskThinking\Problem 1 - Raw Data Processing.parquet")

In [3]:
df.head()

,Symbol,Security Name,Date,Open,High,Low,Close,Adj Close,Volume
0,A,"Agilent Technologies, Inc. Common Stock",1999-11-18,32.546494,35.765381,28.612303,31.473534,27.068665,62546300.0
1,AA,Alcoa Corporation Common Stock,1999-11-19,30.713520,30.758226,28.478184,28.880543,24.838577,15234100.0
2,AAAU,Perth Mint Physical Gold ETF,1999-11-22,29.551144,31.473534,28.657009,31.473534,27.068665,6577800.0
3,AACG,ATA Creativity Global - American Depositary Sh...,1999-11-23,30.400572,31.205294,28.612303,28.612303,24.607880,5975600.0
4,AADR,AdvisorShares Dorsey Wright ADR ETF,1999-11-24,28.701717,29.998211,28.612303,29.372318,25.261524,4843200.0

In [4]:
# Remove duplicate rows based on index and columns
df = df[~df.index.duplicated(keep='first')]

In [5]:
# Calculate 30-day moving average of trading volume
df['vol_moving_avg'] = df.groupby('Symbol')['Volume'].rolling(30).mean().reset_index(level=0, drop=True)

In [6]:
#Calculate the moving average of the trading volume (Volume) of 30 days per each stock and ETF, and retain it in a newly added column vol_moving_avg.
df['adj_close_rolling_med'] = df.groupby('Symbol')['Adj Close'].rolling(30).median().reset_index(level=0, drop=True)

In [7]:
# Create new directory for processed data if it doesn't exist
if not os.path.exists('Problem_2'):
    os.mkdir('Problem_2')

In [9]:
# Convert DataFrame to PyArrow table
table = pa.Table.from_pandas(df)

In [10]:
# Save PyArrow table in Parquet format in the new directory
pq.write_table(table, 'Problem_2/Problem 2 - Feature Engineering.parquet')

In [13]:
df.to_parquet(r"C:\Users\Ego Men\Anaconda_codes\RiskThinking\Problem 2(backup).parquet")

In [1]:
df.head()

NameError: name 'df' is not defined